#affiliation (namespace)
condor_wow
#protocol to use (udp-as,tcp,udp)
udp
#local port
15000
#number of remote TAs
15
#remote TA URI (must match the protocol provided)
gnucla.udp://eckert.acis.ufl.edu:15000
gnucla.udp://planetlab1.cs.purdue.edu:43001
gnucla.udp://planetlab2.cs.purdue.edu:43001
gnucla.udp://grouse.hpl.hp.com:43001
gnucla.udp://planetlab-01.bu.edu:43001
gnucla.udp://planetlab-02.bu.edu:43001
gnucla.udp://pl1.cs.utk.edu:43001
gnucla.udp://pl2.cs.utk.edu:43001
gnucla.udp://planet1.att.nodes.planet-lab.org:43001
gnucla.udp://planet1.pittsburgh.intel-research.net:43001
gnucla.udp://planet1.scs.cs.nyu.edu:43001
gnucla.udp://planet1.seattle.intel-research.net:43001
gnucla.udp://planet2.att.nodes.planet-lab.org:43001
gnucla.udp://planet3.pittsburgh.intel-research.net:43001
gnucla.udp://planet3.seattle.intel-resaerch.net:43001
tap0
#number of IP addresses I route for
1
# IP address we proxy (statis IP; no dhcp)
#10.128.1.1
#MAC address of the VM
#9E:7E:45:6F:16:3E
