<?xml version="1.0" encoding="us-ascii"?>
<IPRouterConfig xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <ipop_namespace>Condor</ipop_namespace>
  <brunet_namespace>condor_wow</brunet_namespace>
  <device>tap0</device>
  <RemoteTAs>
    <transport>brunet.udp://192.6.19.120:43001</transport>
    <transport>brunet.udp://160.36.57.172:43001</transport>
    <transport>brunet.udp://160.36.57.173:43001</transport>
    <transport>brunet.udp://204.178.4.163:43001</transport>
    <transport>brunet.udp://12.108.127.136:43001</transport>
    <transport>brunet.udp://171.66.3.181:43001</transport>
    <transport>brunet.udp://171.66.3.182:43001</transport>
    <transport>brunet.udp://12.17.136.136:43001</transport>
    <transport>brunet.udp://204.178.4.164:43001</transport>
    <transport>brunet.udp://12.108.127.138:43001</transport>
    <transport>brunet.udp://12.17.136.138:43001</transport>
    <transport>brunet.udp://128.197.13.31:43001</transport>
    <transport>brunet.udp://128.197.13.32:43001</transport>
    <transport>brunet.udp://12.46.129.22:43001</transport>
    <transport>brunet.udp://12.46.129.21:43001</transport>
    <transport>brunet.udp://128.112.139.71:43001</transport>
    <transport>brunet.udp://128.112.139.78:43001</transport>
    <transport>brunet.udp://198.32.154.170:43001</transport>
    <transport>brunet.udp://198.32.154.171:43001</transport>
    <transport>brunet.udp://198.32.154.218:43001</transport>
    <transport>brunet.udp://198.32.154.219:43001</transport>
    <transport>brunet.udp://198.32.154.226:43001</transport>
    <transport>brunet.udp://198.32.154.227:43001</transport>
    <transport>brunet.udp://169.229.50.12:43001</transport>
    <transport>brunet.udp://169.229.50.13:43001</transport>
  </RemoteTAs>
  <EdgeListeners>
    <EdgeListener type="udp">
        <port_low>15000</port_low>
        <port_hi>15099</port_hi>
    </EdgeListener>
  </EdgeListeners>
  <IPConfig>static</IPConfig>
  <StaticData>
    <IPAddress>10.129.2.2</IPAddress>
    <Netmask>255.128.0.0</Netmask>
  </StaticData>
  <Hostname>C129002002</Hostname>
  <Setup>auto</Setup>
</IPRouterConfig>
